@if (loading) {
  <div
    class="flex align-items-center justify-content-center"
    style="height: 80vh"
    >
    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
  </div>
}

@if (!loading) {
  <div
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
    >
    <div class="flex flex-column align-items-center justify-content-center">
      <div
        class="w-full card py-8 px-4 sm:px-7"
        style="border-radius: 10px; box-shadow: 0 0 60px 0 #6f2595"
        >
        <div class="text-center mb-5">
          <!-- <img
          src="assets/demo/images/login/avatar.png"
          alt="Image"
          height="50"
          class="mb-3"
          /> -->
          <div class="w-full flex justify-content-center align-items-center">
            <img
              src="assets/images/CONVATEC-PRIMARY_LOGO_HORIZONTAL_WITH_STRAPLINE_RGB.png"
              alt="Convatec Tools Logo"
              style="max-height: 8rem"
              />
            </div>
            <span class="text-600 font-medium"
              >Insert your credentials to continue</span
              >
            </div>
            <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="login()">
              <div class="flex flex-column">
                <!-- <label
                class="w-full"
                for="email1"
                class="block text-900 text-xl font-medium mb-2"
                >Nombre de Usuario</label
                > -->
                <input
                  id="email1"
                  type="text"
                  formControlName="username"
                  placeholder="Username"
                  pInputText
                  class="w-full md:w-30rem mb-5"
                  style="padding: 1rem"
                  autocomplete="off"
                  spellcheck="false"
                  />
                  <!-- <label
                  for="password1"
                  class="block text-900 font-medium text-xl mb-2"
                  >Contrasena</label
                  > -->
                  <p-password
                    id="password1"
                    formControlName="password"
                    placeholder="Password"
                    [toggleMask]="true"
                    styleClass="mb-5 w-full"
                    inputStyleClass="w-full p-3 md:w-30rem"
                    autocomplete="new-password"
                    [feedback]="false"
                  ></p-password>
                  <button
                    pButton
                    pRipple
                    type="submit"
                    label="Login"
                    class="w-full p-3 text-xl"
                  ></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      }
