@if (display) {
  <div class="layout-wrapper" [ngClass]="containerClass">
    <app-topbar></app-topbar>
    <!-- <div class="layout-sidebar" style="z-index: 99999;"> -->
    <div class="layout-sidebar" style="background-color: #7283b0;">
      <app-sidebar></app-sidebar>
    </div>
    <div class="layout-main-container">
      <div class="layout-main">
        <!-- <app-breadcrumbs /> -->
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </div>
    <app-config></app-config>
    <div class="layout-mask"></div>
  </div>
} @else {
  <div
    class="layout-wrapper p-4 flex justify-content-center align-items-center"
    [ngClass]="containerClass"
    >
    <router-outlet></router-outlet>
  </div>
}

