<div
  class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="flex flex-column align-items-center justify-content-center">
    
    <div
    class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center"
    style="border-radius: 10px; box-shadow: 0 0 60px 0 #7283b0"
  >
    <i class="pi pi-exclamation-circle" style="font-size: 5rem;"></i>
    <br>
    <span class="text-black-500 font-bold text-6xl">404</span>
    <h1 class="text-900 font-bold text-3xl lg:text-5xl mb-2">
      Esta pagina no existe
    </h1>
    <div class="text-600 mb-5">
      No hay contenido asociado a la ruta <b style="color: black;">{{ url }}</b>
    </div>
    <a
      (click)="back()"
      style="cursor: pointer;"
      class="w-full flex align-items-center py-5 border-300 border-bottom-1"
    >
      <span
        class="flex justify-content-center align-items-center border-round"
        style="height: 3.5rem; width: 3.5rem; background-color: var(--primary-color);"
      >
        <i class="text-50 pi pi-fw pi-arrow-left text-2xl"></i>
      </span>
      <span class="ml-4 flex flex-column">
        <span class="text-900 lg:text-xl font-medium mb-0 block"
          >Volver a la pagina anterior
        </span>
      </span>
    </a>
    <a
      [routerLink]="['/']"
      class="w-full flex align-items-center py-5 border-300 border-bottom-1"
    >
      <span
        class="flex justify-content-center align-items-center border-round"
        style="height: 3.5rem; width: 3.5rem; background-color: #7283b0;"
      >
        <i class="text-50 pi pi-fw pi-home text-2xl"></i>
      </span>
      <span class="ml-4 flex flex-column">
        <span class="text-900 lg:text-xl font-medium mb-0 block"
          >Volver al inicio
        </span>
      </span>
    </a>
  </div>
  </div>
</div>
