<!-- <p-toolbar styleClass="toolbar-sin-bordes">
  <ng-template pTemplate="left">
    <div class="my-2">
      <p-button
        type="button"
        icon="pi pi-arrow-left"
        pTooltip="Volver a la búsqueda"
        (onClick)="back()"
        styleClass="p-button-rounded"
      ></p-button>
    </div>
  </ng-template>
</p-toolbar> -->

@if (loading()) {
  <div [style]="{ position: 'sticky', top: '5rem', background: 'var(--surface-ground)', zIndex: 10, paddingTop: '0.5rem' }">
    <p-toolbar styleClass="toolbar-sin-bordes">
      <ng-template pTemplate="left">
        <div class="my-2 flex flex-row align-items-center">
          <p-button
            type="button"
            icon="pi pi-arrow-left"
            pTooltip="Volver a la búsqueda"
            tooltipPosition="top"
            (onClick)="back()"
            styleClass="p-button-rounded mr-2"
          ></p-button>
          <h3 class="m-0">{{ titulo() }}</h3>
        </div>
      </ng-template>
      <ng-template pTemplate="right">
        <p-button
          icon="pi pi-user"
          label="Datos Personales"
          pTooltip="Ver datos personales"
          tooltipPosition="top"
          styleClass="mr-2"
          [routerLink]="'/personal/datos-personales/' + idPersona()"
          [outlined]="page() !== 1"
        ></p-button>
        <p-button
          icon="pi pi-book"
          label="Datos Laborales"
          pTooltip="Ver datos personales"
          tooltipPosition="top"
          styleClass="mr-2"
          [routerLink]="'/personal/datos-laborales/' + idPersona()"
          [outlined]="page() !== 2"
        ></p-button>
        <p-button
          icon="pi pi-briefcase"
          label="Situacion Laboral"
          pTooltip="Ver datos personales"
          tooltipPosition="top"
          styleClass="mr-2"
          [routerLink]="'/personal/situacion-laboral/' + idPersona()"
          [outlined]="page() !== 3"
        ></p-button>
        <p-button
          icon="pi pi-file-export"
          label="Plantillas"
          pTooltip="Ver plantillas"
          tooltipPosition="top"
          [routerLink]="'/personal/plantillas/' + idPersona()"
          [outlined]="page() !== 4"
        ></p-button>
      </ng-template>
    </p-toolbar>

    <hr />
  </div>

  @switch (page()) {
    @case (1) {
      @if (!!datosPersonales()) {
        <app-datos-personales
          [(datosPersonales)]="datosPersonales"
        ></app-datos-personales>
      }
    }
    @case (2) {
      @if (!!datosPersonales() && !!datosComunes()) {
        <app-cabecera-datos-personales
          [(datosPersonales)]="datosPersonales"
          [datosComunesIdTipo]="datosComunes().idTipo"
        ></app-cabecera-datos-personales>
        <hr>
        <br>
      }
      @if (!!datosComunes()) {
        <app-datos-comunes [(datosComunes)]="datosComunes"></app-datos-comunes>
      }
    }
    @case (3) {
      @if (!!datosPersonales() && !!datosComunes()) {
        <app-cabecera-datos-personales
          [(datosPersonales)]="datosPersonales"
          [datosComunesIdTipo]="datosComunes().idTipo"
        ></app-cabecera-datos-personales>
        <hr>
        <br>
      }
      @if (!!situacionLaboral()) {
        <app-situacion-laboral
          [(situacionLaboral)]="situacionLaboral"
        ></app-situacion-laboral>
      }
    }
    @case (4) {
      @if (!!datosPersonales() && !!datosComunes()) {
        <app-cabecera-datos-personales
          [(datosPersonales)]="datosPersonales"
          [datosComunesIdTipo]="datosComunes().idTipo"
        ></app-cabecera-datos-personales>
        <hr>
        <br>
      }
      <app-plantillas></app-plantillas>
    }
  }
} @else {
  <div
    class="hold-transition login-page flex justify-content-center align-items-center"
    style="height: 80dvh"
  >
    <p-progressSpinner></p-progressSpinner>
  </div>
}
