<p-toolbar styleClass="toolbar-sin-bordes">
  <ng-template pTemplate="left">
    <div class="my-2">
      <p-button
        type="button"
        icon="pi pi-arrow-left"
        pTooltip="Volver a la búsqueda"
        (onClick)="back()"
        styleClass="p-button-rounded"
      ></p-button>
    </div>
  </ng-template>
</p-toolbar>
<p-toolbar styleClass="toolbar-sin-bordes">
  <ng-template pTemplate="left">
    <div class="my-2">
      <h2 class="mb-0">{{ titulo() }}</h2>
    </div>
  </ng-template>
  <ng-template pTemplate="right">
    <p-button
      icon="pi pi-user"
      label="Datos Personales"
      pTooltip="Ver datos personales"
      tooltipPosition="top"
      styleClass="mr-2"
      [routerLink]="'/personal/datos-personales/' + idPersona()"
      [outlined]="page() !== 1"
    ></p-button>
    <p-button
      icon="pi pi-user"
      label="Datos Laborales"
      pTooltip="Ver datos personales"
      tooltipPosition="top"
      styleClass="mr-2"
      [routerLink]="'/personal/datos-laborales/' + idPersona()"
      [outlined]="page() !== 2"
    ></p-button>
    <p-button
      icon="pi pi-briefcase"
      label="Situacion Laboral"
      pTooltip="Ver datos personales"
      tooltipPosition="top"
      styleClass="mr-2"
      [routerLink]="'/personal/situacion-laboral/' + idPersona()"
      [outlined]="page() !== 3"
    ></p-button>
    <p-button
      icon="pi pi-file-export"
      label="Plantillas"
      pTooltip="Ver plantillas"
      tooltipPosition="top"
      [routerLink]="'/personal/plantillas/' + idPersona()"
      [outlined]="page() !== 4"
    ></p-button>
  </ng-template>
</p-toolbar>

<hr />

<router-outlet></router-outlet>
